@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .skeleton-shimmer {
        background-image: linear-gradient(
            90deg,
            #16161a 0px,
            rgb(70 21 143 / 30%) 40px,
            #16161a 80px
        );
        background-size: 300%;
        background-position: 100% 0;
        animation: shimmer 1.5s infinite;
    }
}

@keyframes shimmer {
    to {
        background-position: -100% 0;
    }
}

:root {
    scrollbar-color: #701dee #46158f44;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

@font-face {
    font-family: "Inter";
    src: url("./assets/fonts/Inter-Regular.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Montserrat";
    src: url("./assets/fonts/Montserrat-SemiBold.woff2") format("woff2");
    font-display: swap;
}

html {
    font-size: 16px;
}

* {
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #46158f44;
    border-radius: 10px;
}
